<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>转审</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">转审—刘德华出差申请</span></div>
				<div class="TopR" id="Search"></div>
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process p-top10">
							<li class="choose hsaRevoke">
								<div class="LiOut mart5" style="left:-50px;">
									<div class="Inmask clearfix" style="display:none;">
										<span class="floatleft">请选择审批人</span>
									</div>
									<div class="Userprocess txt_hidden clearfix">
										<span class="floatleft"><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
										<span>明道产品部</span>
										<span>产品经理产品经理产品经理产品经理产品经理</span>
									</div>
								</div>
								<span class="Revoke">删除</span>
							</li>
							<li class="choose">
								<div class="LiOut mart5 nobgimg">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">转审人员通过后需要我再审批</span>
										<button class="BtnONF BtnOff"><span></span></button>
										<!--关闭状态把 BtnOn 替换为BtnOff-->
									</div>
								</div>
							</li>						
							<li class="mart10 autoHeight">
								<div class="LiOut hideInmask"><!--点击填写的时候加hideInmask隐藏提示信息-->
									<textarea class="article"></textarea>
									<div class="Inmask clearfix">
										<span class="floatleft color-c">备注</span>
									</div>
									<span class="textnumber font14">最多500字</span>
								</div>
								<p class="color-9">请点击空白区域，输入备注</p>
							</li>
						</ul>	
						<span class="nextstep Submitstep aligncenter font18 mart20">提交申请</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
